.Subscribe{
    height: 90vh !important;
}

.subscribe-button{
    text-transform: uppercase;
    background: none !important;
    color: #494949 !important;
    font-family: 'Raleway', sans-serif !important;
    border-bottom-right-radius: 20px !important;
    border: none !important;
    letter-spacing: 2px;
}

.subscribe-field{
    background: none;
    border: none;
    border-bottom: 0.7px solid;
    border-radius: 0;
    width: 80%;
}

.subscribe-field:focus{
    background: none;
    border: none;
    border-bottom: 0.7px solid;
    border-radius: 0;
    width: 80%;
    box-shadow: none;
}


.subscribe-box{
    max-width: 95%;
}

.subscribe-img{
    background-image: url("https://res.cloudinary.com/decorelm/image/upload/v1642960553/decorelm-website/Screenshot_2022-01-09_at_15.44.22_rpzq4o.jpg");
    background-position: center;
    object-fit: contain;
    height: 400px;
}