.testimonial{
    min-height: 80vh;
}

.t-link{
    color: #494949 !important;
    text-decoration: none !important;
}

.t-link:hover{
    color: #494949 !important;
    text-decoration: none !important;
}

q{
    font-size: 1.2rem;
}