.testimonial{
    min-height: 80vh;
}

.t-link{
    color: #494949 !important;
    text-decoration: none !important;
}

.t-link:hover{
    color: #494949 !important;
    text-decoration: none !important;
}

q{
    font-size: 1.2rem;
}


@media only screen and (max-device-width: 480px) {
    .testimonial-box{
        max-width: 90%;
    }
    
}

@media only screen and (min-device-width: 1000px) {
    .testimonial-box{
        max-width: 70%;
    }

}

@media only screen and (min-device-width: 700px) and (max-device-width: 1000px){
    .testimonial-box{
        max-width: 90%;
    }

}