sup{
    color: red;
    line-height: 0;
    font-size: 1.83em;
    vertical-align: bottom;
}

@media only screen and (min-width: 960px) {
    .enquire-text{
        width: 55%;
    }
    .form{
        width: 51%;
    }
}

@media only screen and (max-width: 480px) {
    .form{
        width: 90%;
    }
}