.DarkBox{
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    min-height: 420px;
}

.overlay{
    background: rgba(0,0,0,0.4);
    overflow: hidden;
    height: 100%;
    z-index: 2;
    min-height: 420px;
}

.line{
    width: 95%;
    color: #ffffff;
    opacity: 0.9;
}

.box-header{
    font-size: 1.4rem !important;
}

.box-text{
    font-size: 1.2rem !important;
}

.kerry{
    background-image: url("https://res.cloudinary.com/decorelm/image/upload/v1645992056/IMG_4742_1_ujshf1.webp");
}

.shopping{
    background-image: url("https://res.cloudinary.com/decorelm/image/upload/v1646592585/services/made.com_ydbw5x.webp");
}

.visualise{
    background-image: url("https://res.cloudinary.com/decorelm/image/upload/v1645993858/Enquire_yqvmne.webp")
}