@media only screen and (min-width: 1025px) {
.footer-cta{
display: none;
}
}

.footer-cta-header{
    font-size: 1.1rem;
    font-family: 'Raleway';
}

.footer-cta-button{
    text-transform: uppercase;
    background-color: #587a6a !important;
    color: #ffffff !important;
    font-family: 'Raleway', sans-serif !important;
    border-bottom-right-radius: 20px !important;
    border: none !important;
    letter-spacing: 2px;
    width: 100%;
    font-size: 0.9rem;
    font-weight: 600;
}

.footer-cta-button-sec{
    text-transform: uppercase;
    background-color: #ffffff;
    color: #494949 !important;
    font-family: 'Raleway', sans-serif !important;
    border-bottom-right-radius: 20px !important;
    border: 0.5px solid black !important;
    letter-spacing: 2px;
    width: 100%;
    font-size: 0.9rem;
}

.footer-cta-button:hover{
    opacity: 0.5;
}

.footer-cta-button-sec:hover{
    background-color: #ffffff !important;
    opacity: 0.5;
}


@media only screen and (max-device-width: 480px) {
    .footer-cta-button{
        font-size: 0.7rem;
        width: 100%;
        margin-bottom: 5px;
    }
    .footer-cta-button-sec{
        font-size: 0.7rem;
        width: 100%;
        margin-bottom: 5px;
    }
}

.hide{
    display: none !important;
}

/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    .footer-cta-button{
        font-size: 1.2rem;
    }
    
    .footer-cta-button-sec{
        font-size: 1.2rem;
    }
    .footer-cta-header{
        font-size: 1.5rem;
    }
    }