@media only screen and (min-width: 1025px) {
.footer-cta{
display: none;
}
}


.footer-cta-button{
    text-transform: uppercase;
    background-color: #587a6a !important;
    color: #ffffff !important;
    font-family: 'Raleway', sans-serif !important;
    border-bottom-right-radius: 20px !important;
    border: none !important;
    letter-spacing: 2px;
    width: 100%;
    font-size: 0.8rem;
    font-weight: 500;
}

.footer-cta-button a {
    color: #ffffff;
    font-size: 1rem;
}


.footer-cta-button:hover{
    opacity: 0.5;
}



@media only screen and (max-device-width: 480px) {
    .footer-cta-button{
        font-size: 0.8rem;
        width: 100%;
        margin-bottom: 5px;
    }
}

.hide{
    display: none !important;
}

/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    .footer-cta-button{
        font-size: 0.8rem;
    }

    }